body {
    margin: 0px 0px 0px 0px;
    height: 100%;
}

.block1 {
    margin-top:1%;
    border:none;
    color:white;
    padding-top:1%;
    background-color: rgba(230, 60, 40, 1);
}
    
.block1 .font1 {
    font-family:"Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-size:120%;
    width:auto;
    padding-top:10%;
    padding-left:5%;
    padding-right:5%;
    padding-bottom:5%;
}
    
    
.block1 .font2 {
    font-size:120%;
    font-family:"Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    text-align:center;
    margin-top:20%;
    margin-bottom:10%;
}

.block1 h1 {
    font-size:150%;
    margin-top:15%;
}

.block1 .button1 {
    border:none;
    background-color:rgb(240,180,40);
    color:white;
    margin-top:10px;
    padding:5px 10px;
    border-radius:30px;
    font-family:verdana;
    width:150px;
    font-size:68%;
    transition:0.2s;
    height:auto;
}
    
.block1 .button1:hover {
    background-color:rgb(200,180,40);
}

.block1 .backbutton {
    margin-top:5%;
}
    
.block1 .backbutton a {
    text-decoration:none;
    color:white;
    font-size:80%;
}
    
.block1 a {
    text-decoration:none;
}
    
.block1 .profilpict {
    background-color:white;
    width:80px;
    height:80px;
    border:2px solid black;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

.block2 {
    background-color:white;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    border-radius: 70px 70px 0px 0px;
    border:none;
    color:rgb(20,20,20);
    padding-left:5%;
    padding-right:5%;
    padding-bottom:5%;
    padding-top:10%;
    width:auto;
}	
    
.block2 h1 {
    font-size:150%;
}

    
.block2 h3 {
	font-size:88%;
}

.block2 .box2 {
    display:inline-block;
    width:30%;
    height:auto;
    padding:2px;
    margin:0px;
}
    
.block2 .box3 {
    display:inline-block;
    margin-top:2%;
    margin-bottom:2%;
    font-size:80%;
    width:100%;
}

.block2 .box3 .data1 {
    border:none;
    flex:40%;
    padding-left:10%;
    padding-top:2%;
}

    
.block2 .box3 .data2 {
    border:none;
    flex:60%;
    padding-left:10%;
    padding-top:2%;
}

.block2 .box4 p {
	font-size:80%;
}
    
.block2 .box5 {
    width:100%;
    margin-left:0%;
    font-family:verdana;
    text-align:center;
    font-size:80%;
}

.block2 .box5 .row3 {
    border: 1 px solid black;
}
    
.block2 .box5 a {
    text-decoration:none;
    border-radius:20px;
    background-color:rgb(240,180,40);
    padding:2px 16px;
    font-size:90%;
    color:white;
}
    
.block2 .ratingverified {
    background-color:rgb(50,100,250);
    border:2px solid rgb(50,100,250);
    color:white;
    width:20%;
    padding:0px 3px;
    border-radius:5px;
    float:right;
    font-size:90%;
}
    
.block2 .ratingnotverified {
    background-color:rgb(50,50,50);
    border:2px solid rgb(50,50,50);
    color:white;
    width:20%;
    border-radius:5px;
    float:right;
    font-size:75%;
    padding:0px;
}

.block2 .verified {
    background-color:rgb(50,100,250);
    color:white;
    width:20%;
    padding:2px 3px;
    border-radius:5px;
    float:left;
    font-size:80%;
}
    
.block2 .notverified {
    background-color:rgb(50,50,50);
    color:white;
    width:20%;
    padding:2px 3px;
    border-radius:5px;
    float:left;
    font-size:80%;
}

.block2 select {
    width:100%;
}

    
.block2 input {
    width:100%;
}

.block2 .column1 {
    font-size:80%;
    height:50px;
    margin:2px;
}

.block2 .rating {
	font-size:80%;
}

.profilbookmark {
	text-align:center;
	margin-top:10%;
    margin-bottom:7%;
    font-size:80%;
}

.profilbookmark a {
	text-decoration:none;
	color:white;
	padding:7px 13px;
	background-color:rgb(240,180,40);
	border-radius:10px;
}

.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    display: flex;
    overflow-x: auto;
}

.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    font-family: sans-serif;
    font-size: 13px;
    color: #444444;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
}

.nav__link:hover {
    background-color: #eeeeee;
}

.nav__link--active {
    color: #f4aa19;
}

.nav__icon {
    font-size: 18px;
}