
body{
    margin: 0;
    padding: 0;
    font-family:"Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    background-color: #f5f5f5;
}

.main-content{
    box-sizing: border-box;
    margin-left: 12%;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding: 1%;
    height: 100%;
    width: 87%;
    background-color: gray;
}

.main-content .isi-content {
    box-sizing: border-box;
    background-color: #f5f5f5;
    border-radius: 1%;
    height: 100%;
    padding: 1%;   
}

.main-content .isi-content .judul-konten{
    padding-top: 2%;
}

.main-content .isi-content .judul-konten font{
    font-size: 2vw;
}


.main-content .isi-content .table-data{
    padding-top: 8%;
    width: 100%;
    height: auto;
    overflow-y: auto;
}

.main-content .isi-content .table-data table{
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
    font-size: 1vw;
    border-left : 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.main-content .isi-content .table-data th{
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    background-color: #d73a23;
    color: #f5f5f5;
}
.main-content .isi-content .table-data td{
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.main-content .isi-content .table-data tr:nth-child(even){background-color: #f2f2f2;}

.main-content .isi-content .table-data tr:hover {background-color: #ddd;}

.main-content .isi-content .kolom-edit{
    padding-top: 5%;
    padding-left: 5%;
}

.side-nav{
    position: absolute;
    width: 12%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #f5f5f5;
}

.side-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f1f1f1;
  }
  
.side-nav  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
.side-nav li a.active {
    background-color: #d73a23;
    color: #f5f5f5;
  }
  
.side-nav  li a:hover:not(.active) {
    background-color: #555;
    color: #f5f5f5;
  }